#quality-main2 {
  margin-top: 3.7rem;
}

#quality-main2 .img-side img {
  border-radius: 0.6rem;
  height: 100%;
  object-fit: cover;
}

#quality-main2 .text-section .title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.2rem;
  letter-spacing: 0em;
  text-align: left;
  color: #142d52;
}
#quality-main2 .text-section .description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0em;
}
