#hero-main {
  font-family: Roboto;
  font-style: normal;
  background-image: url("../../assets/banner.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
  color: rgba(255, 255, 255, 1);
}
#hero-main .hero-container {
  height: 100vh;
}

.hero-title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.2rem;
  letter-spacing: 0em;
}



.hero-btn-main {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.hero-btn-touch {
  height: 2.1rem;
  width: 9rem;
  font-size:.8rem;
  line-height: 1.1rem;
  letter-spacing: 0em;
  background: #06bf97;
  color: #ffffff;
  font-weight: 700;
  border-radius: 3px;
  font-style: normal;
  text-align: center;
  margin-right: 0.8rem;
  border: none;
}
.hero-btn-watch {
  height: 2.2rem;
  width: 7.8rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 0em;
  color: #ffffff;
  font-weight: 700;
  border-radius: 3px;
  font-style: normal;
  text-align: center;
  border: none;
}

@media screen and (min-width:1024px) {
  #hero-main .hero-container {
    display: flex;
    align-items: center;
    padding-left: 5.7rem;
    width: 60%;
  }
}
@media screen and (min-width:768px) {
  #hero-main .hero-container {
    display: flex;
    align-items: center;
    padding-left: 3.7rem;
    width: 80%;
  }
}
@media screen and (max-width:480px) {
  #hero-main {
    background-size: cover;
  }
  #hero-main .hero-container {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 0;
    padding: 0 0.6rem;
  }
  .hero-title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: 0em;
    width: 100%;
  }
  .hero-btn-main {
    margin-left: .7rem;
  }
}

h1{
  font-size: 2.3rem;
  line-height: 3rem;
}