#test-with-us-main {
  text-align: center;
}
#test-with-us-main .skill {
  font-size: 1rem;
  line-height: 1.7rem;
}
#test-with-us-main .my-title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.6rem;
  color: #142d52;
  margin-top: 5rem;
}

#test-with-us-main .btn {
  padding: 0.6rem 1.2rem;
  border-radius: 3px;
  font-weight: 700;
  line-height: 1.9rem;
  font-size: 1rem;
  letter-spacing: 0em;
  text-align: center;
  background: #06bf97;
  color: #ffffff;
  border: none;
  margin-top: 1rem;
}
