.form-label{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.btn-primary{
  font-family: 'Roboto', sans-serif;
}
.error-text{
  margin-top: 10px;
}
.error-text>span{
  color: red;
}
h1{
  font-weight: 700;
}
.nav-style li Link{
  font-weight: 900;
  
}